@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Qwitcher+Grypen:wght@400;700&family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@theme {
  --color-brand-forest: #2d545e;
  --color-brand-olive: #8ba68e;
  --color-brand-sage: #c0d4c0;
  --color-brand-tan: #7a6652;
  --color-brand-gold: #d4a03d;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/Coolvetica Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  /*font-family: 'Coolvetica', sans-serif;*/
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 5s ease infinite;
}